*{margin:0;padding:0;}
body{min-width:750px;background-color:gray;}
.header{width:100%;height:60px;background-color:black;color:white;}
.header .logo{float:left;padding:15px;}
.header .list{float:right;padding:15px;}
.header .list li{display:inline;margin-right:10px;}
.header .list li a{color:white;text-decoration:none;vertical-align:middle;}
.header .list li a:hover{color:gray;}
.aside{float:right;margin:20px 15px;border:1px solid;padding:10px;box-shadow:2px 2px 5px #848484;min-width:380px;width:25%;background-color:white;}
.aside .celan{border-left:5px solid gray;padding-left:10px;margin:20px 0 0 20px;}
.aside form{width:100%;font-size:15px;}
.aside form div{margin:4px;margin-left:12px;}
.aside form .email,.mima1,.mima2,.gender,.city,.hobby,.description{display:inline-block;margin-top:5px;margin-right:10px;padding-top:5px;padding-right:5px;}
.aside form .email{padding-right:0px;margin-left:15px;}
.aside form .tips1{color:gray;margin-left:125px;}
.aside form .tips2{color:gray;margin-left:125px;}
.aside form .mima1{margin-left:44px;}
.aside form .mima2{margin-left:15px;}
.aside form .gender{margin-left:90px;}
.aside form .hobby{margin-left:90px;}
.aside form .city{margin-left:90px;}
.aside form .description{margin-left:60px;vertical-align:top;margin-top:0;padding-top:0;}
.aside form .submit{text-align:center;margin-top:20px;}
input[type="submit"]{background-color:#1142AA;color:white;font-weight:bold;width:80%;padding:5px;border-radius:10px 10px 10px 10px;}
.main>div{border:1px solid;box-shadow:2px 2px 5px #848484;margin-right:450px;margin-top:22px;margin-bottom:22px;margin-left:30px;background-color:white;}
.main .passage1 .article1{padding:20px;letter-spacing:0.5px;font-size:14px;}
.main .passage1 .article1 h1,h3,h6{padding-bottom:10px;}
.main .passage1 .article1 p{padding-bottom:15px;text-indent:2em;}
.passage2 h1{margin:30px 0 40px 30px;}	
.passage2 .pictures figure{display:inline-block;margin:0 30px 30px 60px;text-align:center;}	
.passage3 h2,h3,h5{margin:20px 0 20px 30px;}
.passage3 ol{margin:60px 0 60px 100px;}
.passage3 ol li{font-weight:bold;}
.passage3 table{margin:20px auto;width:40em;border-collapse:collapse;border-color:gray;width:80%;}
.passage3 table th{text-align:left;color:white;background-color:black;}
.passage3 table .tr6{background-color:gray;}
.footer{background-color:black;color:white;font-weight:bold;text-align:center;padding:10px}
