*{
margin:0;
padding:0;
}
#hold{
border:1px solid;
background-color:#eee;
width:90%;
height:70%;
margin:0 auto;
margin-top:20px;
padding:20px;
min-width:800px;
}
#hold #left{
padding:20px;
width:200px;
float:left;
background-color:white;
border:1px solid;
}
#hold #left>img{
float:left;
}
#hold #left>p{
float:right;
}
#hold #right{
width:120px;
border:1px solid;
background-color:white;
float:right;
text-align:center;
}
#hold #right ul{
list-style-type:none;
padding:20px;
}
#hold #middle{
border:1px solid;
margin-left:260px;
margin-right:140px;
background-color:white;
padding:20px;
}